li{font-size: 22px; color: #EE4036;
}
.footer{
	margin-top: 600px;
	width: auto;
	height: 80px;
	background-color: white;
	display: inline-block;
}
.facebook{
	padding-right: 20px;
	padding-left: 4px;
}
.map{
	padding-left: 600px;
	padding-top: 59px;
}
.contact-info{
	display: inline;
	margin-top: 10px;
	padding-top: 0px;
}
.section1{
	background-color:grey;
}