li{font-size: 22px; color: #EE4036; display: inline-block;
}

.logo{display: inline-inline-block;

}
.banner{margin-left: 38px; margin-top: 60px; width: 928px; height: 595px;

}
.under{margin-top: 30px; margin-left: 39px;color: #000000; font-size: 27px;

}
h2{background-color: #F2F2F2; width: 500px; display: inline-block; margin-top: 30px; color: #3D58A6;

}
.leftphoto,.rightphoto{width: 50px; display: inline-block;

}
.lefttext,.righttext{width: 337px; display: inline-block; font-size: 20px;

}
.left, .right{ width: 500px; display: inline-block; background-color: #F2F2F2; margin-top: 30px;

}
.main{background-color: #F2F2F2 width: 500px; margin-left: 37px;

}
header{margin-left: 38px;

}
h1,h2{margin-left: 37px; font-family:fonts/roboto-regular;

}
.news,.contact{color: #3D58A6}
.footer{
	margin-top: 20px;
	width: auto;
	height: 10px;
	background-color: white;
	display: inline-block;
}
.facebook{
	padding-right: 20px;
	padding-left: 4px;
}
.youtube {
	padding-left: 5px;
}
.map{
   padding-left: 40%;
   float: left;
   display: inline-block;
}
.section1{
	background-color:lightgrey;
}
.contact-information{
	font-size: 20px;
	color: blue;
}
span{
	color: black;
	font-size: 15px;
}
.contact ul li{
    font-size: 16px;
    color: #808080;
}
.section1{
	background-color: #E6E6E6;
    padding: 30px;
    width: 1366px;
    height: 570px;
}
.contact{
   display:inline-block;
   width: 300px;
 }
