li{font-size: 22px; color: #EE4036;
}
.footer{
	margin-top: 20px;
	width: auto;
	height: 10px;
	background-color: white;
	display: inline-block;
}
.facebook{
	padding-right: 20px;
	padding-left: 4px;
}
.youtube {
	padding-left: 5px;
}
.map{
padding-left: 40%;
display: inline-block;
}
.section1{
	background-color:lightgrey;
}
.contact-information{
	font-size: 20px;
	color: blue;
}
span{
	color: black;
	font-size: 15px;
}
.contact ul li{
	padding: 5px;
    font-size: 16px;
    color: #808080;
}
.section1{
	background-color: #E6E6E6;
    padding: 30px;
    width: 1366px;
    height: 570px;
}